---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from './Layout.astro';
import DashedLine from '@/components/common/DashedLine.astro';

import { ArrowLeft } from 'astro-feather-icons2';

type Props = CollectionEntry<'writing'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
  integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP"
  crossorigin="anonymous"
/>

<Layout title={title} description={description} dim>
  <a
    class="text-text duration-100 size-8 bg-text/10 hover:bg-text/20 rounded-sm smooth-corners-xs overflow-hidden grid place-items-center mt-10"
    aria-label="Back"
    href="/writing">
    <span class="opacity-70">
      <ArrowLeft size="16" />
    </span>
  </a>
  <h1 transition:name={`post ${title}`} class="font-zodiak text-3xl font-light text-text py-6">{title}</h1>
  <p class="unblur-in animation-delay-50">
    <span class:list={[updatedDate ? 'text-text/30' : 'text-text/100']}>
      <FormattedDate date={pubDate} />
    </span>
    {
      updatedDate && (
        <>
          <span class="text-text/30">&bull; updated</span>
          <span class="text-text">
            <FormattedDate date={updatedDate} />
          </span>
        </>
      )
    }
  </p>
  <DashedLine width="100%" />
  <article class="prose">
    <slot />
  </article>
</Layout>
